.logo {
  background: url("/assets/logo.jpg") center no-repeat;
  width: 60px;
  height: 60px;
  background-size: 100px;
}

.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}

.nav-menu {
  a:hover {
    text-decoration: underline;
  }
}

.middle-dropdown .dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 100% !important;
}

.instagram-color {
  background: -webkit-linear-gradient(purple, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
