<nav class="shadow navbar navbar-expand-lg navbar-light bg-white">
  <div class="w-100 d-flex justify-content-between p-2 align-items-center container">
    <a href="javascript:" class="logo"></a>
    <div class="nav-menu">
<!--      <h5>Nguyệt Blog</h5>-->
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-black" href="javascript:"><strong>Menu 1</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="javascript:"><strong>Menu 2</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="javascript:"><strong>Menu 3</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="javascript:"><strong>Menu 4</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="javascript:"><strong>Menu 5</strong></a>
        </li>
        <li class="nav-item dropdown middle-dropdown">
          <a class="nav-link text-black" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>Dropdown</strong></a>
          <div class="dropdown-menu shadow border-0">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropdown middle-dropdown">
          <a class="nav-link text-black" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>...</strong></a>
          <div class="dropdown-menu shadow border-0">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <div class="dropdown middle-dropdown mx-2">
        <a class="text-black text-decoration-none small" href="javascript:"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Theo dõi
        </a>
        <div class="dropdown-menu shadow border-0">
          <div class="d-flex justify-content-between px-3 py-2 small">
            <i class="fa fa-facebook-official text-primary" aria-hidden="true"></i>
            <i class="fa fa-youtube-play text-danger" aria-hidden="true"></i>
            <i class="fa fa-instagram instagram-color" aria-hidden="true"></i>

          </div>
        </div>
      </div>
      <a class="text-black mx-2" href="javascript:">
        <i class="fa fa-search" aria-hidden="true"></i>
      </a>
      <a class="text-black mx-2" href="javascript:">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</nav>

