<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-3">
      <img src="assets/logo.jpg" alt="" class="w-100">
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-9">
      <div class="row mx-0">
        <div class="col">
          top 1 <br>
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-9">
      <div class="row mx-0">
        <div class="col">
          top 2 <br>
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
        </div>
        <div class="col">
          top 3<br>
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-9">
      <div class="row mx-0">
        <div class="col">
          top 4 <br>
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
        </div>
        <div class="col">
          top 5<br>
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
        </div>
        <div class="col">
          top 6<br>
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
          text texttext texttext texttext texttext texttext texttext texttext texttext texttext texttext text
        </div>
      </div>
    </div>
  </div>
</div>
